
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
*{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}
:Root{
  --bg-dark:  #000000;
  --bg-gray: #444444;
  --body-color:#ffffff;
  --body-color-blue-gray:#0d6efd
}
.App.dark{
  background-color:var(--bg-dark);
  min-height: 100vh;
}
a{
  color: #a82c48!important;
  font-weight: bold!important;
  font-size: 18px!important;
}
.phone{
  background-color:#a82c48!important;
  font-weight: bold!important;
  color:white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  height: fit-content;
  transition: .3s;
  cursor: pointer;
  margin-left: 10px;
  border:2px solid transparent;
}
.phone:hover{
  background-color:transparent!important;
  color:#a82c48!important;
  border:2px solid #a82c48;
}
.dark a{
  color:var(--body-color);

}
.dark a:hover{
  color:var(--body-color-blue-gray)!important;
  
}
.dark .dropdown-menu{
  background-color: var(--bg-gray);
  color:var(--body-color)
}
@media(max-width:767px) { 
  .slider-img {
    width:100%
  }
 }
@media(min-width:768px) { 
  .slider-img {
    width:50%;
  }
 }
 /* .landing{
  background-image: url('./images/');
 } */